:root {
  --primary-color: #3b0944;
  --second-color: #f7f7f7;
  --third-color: #5f1854;
  --fourth-color: #1abb9c;
  --heading-font-family: "Source Code Pro", monospace;
  --body-text-font-family: "Monserrat", sans-serif;
  --button-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: var(--primary-color);
}

.navbar-brand {
  font-size: 16px !important;
  font-weight: 900;
  font-family: var(--heading-font-family) !important;
  text-decoration: none !important;
  color: var(--primary-color) !important;
}

.navbar-brand:hover {
  font-size: 16px !important;
  font-family: var(--heading-font-family) !important;
  text-decoration: none !important;
  color: var(--fourth-color) !important;
}

.nav-link {
  font-size: 16px;
  font-family: var(--heading-font-family);
}

.hero {
  padding: 200px 100px 100px 100px;

  background-color: rgb(95, 24, 84, 0.1);
}

.hero-text {
  font-family: var(--heading-font-family);
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-color);
}
.hero-code-text {
  font-weight: 900;
  color: var(--fourth-color);
}

.text-1 {
  animation: text1;
  color: var(--fourth-color);
}

.text-2 {
  animation: text2;
  color: var(--fourth-color);
}

.text-1,
.text-2 {
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text-1::after,
.text-2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 8em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }

  10%,
  40% {
    width: 7em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: var(--fourth-color);
  }
}

@media (max-width: 960px) {
  .hero-text {
    display: none;
  }
}

.hero-text-mobile {
  font-weight: 900;
  font-family: var(--heading-font-family);
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.hero-code-text-mobile {
  font-weight: 900;
  color: var(--fourth-color);
}

.text-1-mobile {
  animation: text1mobile;
  color: var(--fourth-color);
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text-1-mobile::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text1mobile {
  0%,
  50%,
  100% {
    width: 0;
  }

  10%,
  40% {
    width: 7em;
  }
}

.hero-body {
  font-size: 20px;
  font-family: var(--heading-font-family);
}

.btn {
  box-shadow: var(--button-box-shadow);
  border-radius: 4px;
  padding: 18px 25px 18px 25px;
}

.btn-projects {
  background-color: var(--fourth-color);
  color: var(--second-color);
  margin-right: 15px;
  transition: ease-in-out 200ms;
  text-transform: capitalize;
}

@media (max-width: 710px) {
  .btn-contact {
    margin-top: 25px;
  }
}

.btn-contact {
  background-color: var(--second-color);
  color: var(--primary-color);
  transition: ease-in-out 200ms;
  text-transform: capitalize;
}

.btn-projects:hover {
  background-color: var(--second-color);
  color: var(--primary-color);
}

.btn-contact:hover {
  border-color: var(--fourth-color);
  color: var(--fourth-color);
}

/* Featured Projects Sections */

.all-projects-link {
  display: block;
  margin: 0 auto;
  text-align: right;
}

@media (max-width: 960px) {
  .all-projects-link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.card-deck {
  display: inline;
  text-align: center;
}
.home-contact-form-link {
  display: block;
  text-align: center;
}
